[submodule "ElanorCore/Core/Client/--recursive"]
	path = ElanorCore/Core/Client/--recursive
	url = git@github.com:Numendacil/cpp-mirai-client
[submodule "ElanorCore/Core/Client/cpp-mirai-client"]
	path = ElanorCore/Core/Client/cpp-mirai-client
	url = git@github.com:Numendacil/cpp-mirai-client
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
